*{
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clickMe{
  border-radius: 6px;
}

.overMe{
  width: 300px;
  height: 200px;
  background-color: #cbadde;
}

/* .button{
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  place-items: center;
} */