*{
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clickMe{
  border-radius: 6px;
}

.overMe{
  width: 300px;
  height: 200px;
  background-color: #cbadde;
}

nav{
  background-color: black;
  color: white;
}

li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

li a{
  color
}
 

/* .button{
  align-items: center; // Controls how child items are aligned on the cross axis. Used with flex
  justify-content: center; // Controls how child items are aligned on the main axis. Used with flex
  align-content: center; // Controls how lines are aligned in a multi-line flex container. Used with flex
  text-align: center; // Controls how inline content is aligned within a block-level element. Used with block
  place-items: center; // Controls how child items are aligned on both the main and cross axes. Used with grid
} */